h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    font-weight: bolder;
    font-size: 40px;
}

.div1{
    display: flex;
    gap: 0.8%;
    margin-top: 1%;
}

.div1div1{
    width: 100%;
    background-color: #bbd0ff;
    height: 670px;
    border-radius: 20px;
    border: solid 15px #2066af;
}

.div1div2{
    width: 100%;
    background-color: #df8080;
    height: 670px;
    border-radius: 20px;
    border: solid 15px #c41a1a;
}

.place{
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    width: 50%;
    height: 20px;
    text-align: center;
    color: #588157;
}

.boton{
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    width: 25%;
    height: 40px;
    text-align: center;
    font-size: 21px;
    padding-bottom: 6px;
}

.div1div1 img{
    width: 50%;
    height: 330px;
}

.div1div2 img{
    width: 58%;
    height: 330px;
}

.barradiv{
    width: 98.9%;
    height: 130px;
    background-color: #c41a1a;
    border-radius: 10px;
    border-radius: 10px;
    border: solid 7px #c41a1a;
}

.div1div1 h1{
    color: #2066af;
}

.div1div2 h1{
    color: #c41a1a;
}

.div1div1 button{
    color: #2066af;
}

.div1div2 button{
    color: #c41a1a;
    border-radius: 10px;
    border: solid 2px #c41a1a;
}

.div1div1 button{
    color: #2066af;
    border-radius: 10px;
    border: solid 2px #2066af;
}

.div1div2 input{
    color: #c41a1a;
    border-radius: 10px;
    border: solid 2px #c41a1a;
    color: #000000;
    font-weight: bolder;
}

.div1div1 input{
    color: #2066af;
    border-radius: 10px;
    border: solid 2px #2066af;
    color: #000000;
    font-weight: bolder;
}

.barraborde{
    width: 98.9%;
    height: 95.5px;
    background-color: #ffffff;
    padding-top: 20px;
    border-radius: 10px;
    border: solid 7px #2066af;
}

.barraborde img{
    width: 18%;
    height:80px;
    margin-bottom: 30px;
}